<h1>{{ collection.name }}</h1>

<span id="js-data"
    data-uploaded-asset-path="{{ uploaded_asset('') }}"
></span>

<div id="selectedPoints"></div>
<button id="decodeSelected">Decode</button>

{% for category, catPoints in categories %}
<div class="row">
    <h3>{{ category }}</h3>
    {% for point in catPoints %}
        <div class="card">
            <img class="card-img-top"
                 src="{{ asset('wp_images/'~ point.guid ~ '.jpg') | imagine_filter('squared_thumbnail_small') }}"
                 alt="{{ point.name }}" title="{{ point.name }}" data-toggle="tooltip"
                data-id="{{ point.id }}"
                data-guid="{{ point.guid }}"
                data-intel-link="{{ point|intelLink }}"
                data-edit-link="{{ path('waypoint_edit', { 'id': point.id }) }}"
                data-details-link="{{ path('waypoints_edit_details', { 'id': point.id }) }}"
            >
        </div>
    {% endfor %}
</div>
{% endfor %}

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img src="" alt="Image">

                    </div>
                    <div class="col">
                        <div class="detailsForm"></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn editLink">Edit</a>
                <a class="btn btn-primary intelLink">Intel</a>

                <button type="button" class="btn btn-warning btnSelect">Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
