{% extends 'base.html.twig' %}

{% block title %}D3c0de{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map-decode') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.wayPoints = {{ wayPoints|json_encode|raw }}
    </script>
    {% for wayPoint in wayPoints %}

    {% endfor %}
    {{ encore_entry_script_tags('map-decode') }}
{% endblock %}

{% block body %}
    <h1>D3c0de</h1>
    <div class="row">
        <div class="col-4">
            <ul id="sortable" class="list-unstyled">
                {% for wayPoint in wayPoints %}
                    <li
                            class=""
                            id="{{ wayPoint.id }}"
                    >
                        <img src="{{ asset('wp_images/'~ wayPoint.guid ~ '.jpg') | imagine_filter('squared_thumbnail_36') }}" alt="">
                        &nbsp;{{ wayPoint.name }}
                    </li>
                {% endfor %}

            </ul>
            <h5>Link <a id="intelLinkHref" href="" target="_blank">Intel</a></h5>
            <input class="form-control" id="intelLink"/>
            <h5>List</h5>
            <textarea name="intelLinkList" id="intelLinkList" cols="60" rows="10"></textarea>
        </div>
        <div class="col-7">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

