{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if 'gallery' == collection.type %}
        {{ encore_entry_script_tags('gallery') }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if 'gallery' == collection.type %}
        {{ encore_entry_link_tags('gallery') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="btn-group float-right">

        <a class="btn btn-outline-secondary" href="{{ path('collection_index') }}">back to list</a>

        <a class="btn btn-outline-info" href="{{ path('collection_edit', {'id': collection.id}) }}">edit</a>

        {{ include('collection/_delete_form.html.twig') }}
    </div>

    {% if 'gallery' == collection.type %}
        {{ include('collection/_gallery.html.twig') }}
    {% else %}
        no collection template found for "{{ collection.type }}" :(
    {% endif %}
{% endblock %}
