{% extends 'base.html.twig' %}

{% block title %}Waypoint index{% endblock %}

{% block body %}
    <h1>Waypoint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Guid</th>
                <th>ImageFilename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for waypoint in waypoints %}
            <tr>
                <td>{{ waypoint.id }}</td>
                <td>{{ waypoint.name }}</td>
                <td>{{ waypoint.lat }}</td>
                <td>{{ waypoint.lon }}</td>
                <td>{{ waypoint.guid }}</td>
                <td>{{ waypoint.imageFilename }}
                    <img class="article-img" src="{{ waypoint.imagePath|imagine_filter('squared_thumbnail_small') }}">

                </td>
                <td>
                    <a href="{{ path('waypoint_show', {'id': waypoint.id}) }}">show</a>
                    <a href="{{ path('waypoint_edit', {'id': waypoint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('waypoint_new') }}">Create new</a>
{% endblock %}
